* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: hidden;
}

img {
	width: 30px;
	margin-right: 7px;
}

.left-link {
	color: black;
}
.left-link:hover {
	background: #007bff;
	color: #ffffff;
	text-decoration: none;
}
.left-link:active {
	background: #007bff;
	color: #ffffff;
}
.CreateButton {
	height: fit-content;
}

.TopMenu-Buttons {
	display: flex;
	margin-top: auto;
}

.nav {
	height: 86vh;
}

/* Card Container Temporarily Disabled */
.Hide-Container {
	display: none;
}

.Page-Content {
	text-align: center;
}

.cardsAlignment {
	display: flex;
	flex-wrap: wrap;
}

.cardsContainer {
	overflow-y: scroll;
	width: 73rem;
	height: 40.5rem;
}

.taskCard {
	min-width: 23% !important;
	min-height: 38vh !important;
	margin: 10px;
}

.Gear-Dropdown {
	position: absolute !important;
	top: 0;
	right: 0;
}

.Button-Container {
	margin: 30px 0px 10px 0px;
}

.Detail-Button {
	margin-left: 20px;
}

.Play-Button {
	margin-right: 20px;
}

.progressBar {
	margin: 0px 30px 0px 30px;
}

.cardDescription {
	max-width: 70%;
	max-height: 15%;
	margin: auto;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-thumb {
	background: #047afb;
}
