* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	min-width: 100vw;
}

.Card-Container .row {
	margin: 15px;
}

img {
	width: 30px;
	margin-right: 7px;
}

.left-link {
	color: black;
}
.left-link:hover {
	background: #007bff;
	color: #ffffff;
	text-decoration: none;
}
.left-link:active {
	background: #007bff;
	color: #ffffff;
}
.CreateButton {
	height: fit-content;
}

.TopMenu-Buttons {
	display: flex;
	margin-top: auto;
}

.nav {
	height: 86vh;
}

.Card-Container {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 79vh;
	padding-top: 25px;
}

/* Card Container Temporarily Disabled */
.Hide-Container {
	display: none;
}

.Page-Content {
	width: 83%;
	text-align: center;
}

.Card {
	min-height: 18em;
	border-radius: 0.5rem;
	padding: 45px 10px 20px 10px;
}

.card-title {
	margin-top: 25px;
}

.card-text {
	margin: 10px 0px 25px 0px;
}

.Gear-Dropdown {
	position: absolute !important;
	top: 0;
	right: 0;
}

.Button-Container {
	margin: 30px 0px 0px 0px;
}

.Detail-Button {
	margin-left: 20px;
}

.Play-Button {
	margin-right: 20px;
}
